
*
    box-sizing: border-box

body
    margin: 0

header
    height: 550px
    width: 100%
    position: relative
    

.header-background
    background-image: url(../images/header-img.png)
    background-color: #000000b3
    background-blend-mode: multiply
    background-repeat: no-repeat
    background-size: cover
    background-position-x: 28%
    background-position-y: top

.header-logo
    margin: 35px 30px
    

.menu-button
    margin: 35px 30px
    position: absolute
    top: 0
    right: 0
    height: 75px
    
.menu-button:hover
    cursor:  pointer

.menu-button-lines    
    left: 50%
    transform: translate(-50%)
    top: -55px
    position: relative
    width: 35px
    height: 15px
    border-bottom: 4px solid white
    border-top: 4px solid white


// .menu-button img
//     position