$purple: #e1007e
$gray: #333333

@font-face
    font-family: Exo Light
    src: url(../fonts/Exo/Exo-Light.ttf)
@font-face
    font-family: Exo Bold
    src: url(../fonts/Exo/Exo-Bold.ttf)
@font-face
    font-family: Exo Regular
    src: url(../fonts/Exo/Exo-Regular.ttf)

*
    box-sizing: border-box

body
    margin: 0
    color: white

a
    color: white
    text-decoration: none
    font-family: 'Lato'

header
    width: 100%
    position: relative

main
    text-align: center
    color: $gray
    margin: 0 auto
    padding: 0 20px
    max-width: 1240px
    font-family: 'Exo Light'

p
    font-size: 18px

strong
    font-family: 'Exo Bold'


.header-background
    background-image: url(../images/header-img.png)
    background-color: #000000b3
    background-blend-mode: multiply
    background-repeat: no-repeat
    background-size: cover
    background-position-x: 28%
    background-position-y: top

.header-logo
    margin: 35px 30px

.menu-button
    margin: 35px 30px
    position: relative
    height: 75px
    float: right

.menu-button:hover
    cursor: pointer

.menu-button-lines
    left: 50%
    transform: translate(-50%)
    top: -55px
    position: relative
    width: 35px
    height: 15px
    border-bottom: 4px solid white
    border-top: 4px solid white

.header-content
    padding-top: 80px
    padding-bottom: 200px
    text-align: center

.header-content h1
    font-family: 'Exo Bold'
    margin: 8px
    font-size: 72px
    color: $purple

.breadcrumbs a
    font-size: 17px

.breadcrumbs img
    margin: 0 12px 0 12px

main h2 
    margin: 50px 0
    font-size: 30px
    color: $purple

.info-container
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 75px
    margin-bottom: 50px

.info
    font-size: 20px
    position: relative

.info-header
    color: $purple
    display: grid
    grid-template-columns: 1fr min-content 1fr
    grid-gap: 10px

.info-header::before
    content: ""
    border-top: 3px dotted #d3d2d2
    width: 100%
    display: inline-block
    margin-top: 12px


.info-header::after
    content: ""
    border-top: 3px dotted #d3d2d2
    width: 100%
    display: inline-block
    margin-top: 12px

.values
    margin: 15px 0

.values p
    display: inline
    margin: 0 8px

.info-bottom-border
    height:  12px

.bottom-border
    width: 100%
    border-bottom: 3px dotted #d3d2d2

.iframe-container
    position: relative
    padding-bottom: 56.25%
    overflow: hidden

.iframe-container iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.description
    margin: 50px 0 40px 0
    text-align: left

.description p
    margin-bottom: 35px

.underline p
    text-decoration: underline
    text-decoration-color: #696969

.navigation-container
    text-align: center
    padding: 30px 0 50px 0
    display: grid
    grid-template-columns: min-content 1fr min-content 
    white-space: nowrap

.navigation-name
    font-family: 'Exo Bold'
    font-size: 25px
    color: $purple

.navigation-direction
    font-family: 'Exo Regular'
    font-size: 16px
    text-transform: uppercase

.left
    text-align: left

.right
    text-align: right

$facebook: #3f5599
$twitter: #5fa9ef
$google: #d84335
$pinterest: #c70126
$email: #6fb4e4
$print: #3f96d6
