$purple: #e1007e

@font-face
    font-family: Exo Light
    src: url(../fonts/Exo/Exo-Light.ttf)

*
    box-sizing: border-box

body
    margin: 0
    color: white
    font-family: 'Lato'

a
    color: white
    text-decoration: none

header
    width: 100%
    position: relative

main
    text-align: center
    color: black
    margin: 0 auto
    max-width: 1200px
    font-family: 'Exo Light'

.header-background
    background-image: url(../images/header-img.png)
    background-color: #000000b3
    background-blend-mode: multiply
    background-repeat: no-repeat
    background-size: cover
    background-position-x: 28%
    background-position-y: top

.header-logo
    margin: 35px 30px

.menu-button
    margin: 35px 30px
    position: relative
    height: 75px
    float: right

.menu-button:hover
    cursor: pointer

.menu-button-lines
    left: 50%
    transform: translate(-50%)
    top: -55px
    position: relative
    width: 35px
    height: 15px
    border-bottom: 4px solid white
    border-top: 4px solid white

.header-content
    padding-top: 80px
    padding-bottom: 200px
    text-align: center

.header-content h1
    margin: 8px
    font-size: 72px
    color: $purple

.breadcrumbs a
    font-size: 17px

.breadcrumbs img
    margin: 0 12px 0 12px

main h2 
    margin: 50px 0
    font-size: 30px
    color: $purple

.info-container
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 75px
    padding-bottom: 100px

.info
    // text-align: center
    font-size: 20px
    color: $purple
    position: relative

.info-header
    display: grid
    grid-template-columns: 1fr min-content 1fr
    grid-gap: 10px

.info-header::before
    content: ""
    border-top: 2px dotted black
    width: 100%
    display: inline-block
    margin-top: 12px


.info-header::after
    content: ""
    border-top: 2px dotted black
    width: 100%
    display: inline-block
    margin-top: 12px